<h1 id="head">Mongo Scraper <img src="https://www.logolynx.com/images/logolynx/32/320f3acdbdc0922ffe06b6fc164523cc.jpeg"
        id="pic"> edition</h1>

<nav id="nav">
    <button type="button" class="btn btn-secondary" id="show">Scrape New Articles</button>
    <button type="button" class="btn btn-secondary" id="clear">Clear Articles</button>
    <button type="button" class="btn btn-secondary" id="showallsaved"><a href="/saved" class="saveartbtn">Saved Articles</a></button>
</nav>

<div id="articledump">
    <h4 id="descdump"></h4>
</div>