{{!-- header --}}
<h1 id="head">Mongo Scraper <img src="https://www.logolynx.com/images/logolynx/32/320f3acdbdc0922ffe06b6fc164523cc.jpeg"
        id="pic"> edition</h1>

{{!-- Nav --}}
<nav id="nav">
    <button type="button" class="btn btn-secondary" id="clear">Clear Articles</button>
    <button type="button" class="btn btn-secondary" id="clear"><a href="/" class="saveartbtn">Home</a></button>
</nav>

{{!-- Div box containing articles --}}
<div id="savedcontentbox">
    <div id="buttondump"></div>
</div>